.modalOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: transparent;
  border: none;
}

.image {
  max-width: 1000px;
  max-height: 700px;
  object-fit: cover;
}
